[package]
name = "tagged-base64"
version = "0.2.1"
authors = ["John D. Corbett <corbett@pictographer.com>"]
edition = "2021"
description = "User-oriented format for binary data. Tagged Base64 is intended to be used in user interfaces including URLs and text to be copied and pasted without the need for additional encoding, such as quoting or escape sequences."
repository = "https://gitlab.com/translucence/common/tagged-base64"
license-file = "LICENSE"

[lib]
crate-type = ["cdylib", "rlib"]

[[bin]]
name = "tagged-base64"
required-features = ["build-cli"]

[features]
default = []
wasm-debug = ["dep:console_error_panic_hook"]
build-cli = ["dep:clap"]

[dependencies]
crc-any = { version = "2.4.1", default-features = false }

base64 = "0.13.0"

# Command line argument processing
clap = { version = "4.0", optional = true, features = ["derive"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = { version = "0.2.78", features = ["serde-serialize"] }

# required for debugging from wasm
web-sys = { version = "0.3.49", optional = true, features = ["console", "Headers", "RequestInit", "RequestMode", "Request", "Response", "Window"] }

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.7", optional = true }

[dev-dependencies]
getrandom = { version = "0.2", features = ["js"] }
quickcheck = "1.0"
quickcheck_macros = "1.0"
wasm-bindgen-test = { version = "0.3.28" }

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
debug = true

# https://github.com/rustwasm/wasm-bindgen/issues/2279
[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Os", "--enable-mutable-globals"]
