name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Outdated Builds
        uses: styfle/cancel-workflow-action@0.10.1
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          default: true
          components: rustfmt, clippy

      - name: Enable Rust Caching
        uses: Swatinem/rust-cache@v1

      - name: Install wasm-pack binary
        run: |
          wget -O wasm.tar.gz https://github.com/rustwasm/wasm-pack/releases/download/v0.10.2/wasm-pack-v0.10.2-x86_64-unknown-linux-musl.tar.gz
          tar -xvf wasm.tar.gz
          sudo mv -v wasm*/wasm-pack /usr/bin/
          rm -rv wasm.tar.gz wasm-pack-*

      - name: Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ github.token }}

      - name: Clippy without default features
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ github.token }}
          args: --no-default-features

      - name: Audit
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ github.token }}

      - name: Cargo Build
        run: cargo build

      - name: Cargo Test
        run: cargo test --verbose -- -Zunstable-options --report-time

      - name: Web Test
        run: wasm-pack test --headless --firefox
